@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Все Контакты";
}
<h1 class="text-center">Список всех контактов студентов:</h1>
<a href="/Contact/Add" class="btn btn-primary" style="float:right">Добавить новый контакт</a>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Номер группы</th>
                <th>Институт</th>
                <th>Номер телефона</th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var g in Model)
            {
                <tr>
                    <td>@g.Name</td>
                    <td>@g.SurName</td>
                    <td>@g.Group.GroupNumber</td>
                    <td>@g.Group.Institute</td>
                    <td>@g.PhoneNumber</td>
                    <td>
                        <a href="/Contact/Edit/@g.Id" class="btn btn-secondary" >Редактировать</a>
                        <a href="/Contact/Delete/@g.Id" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>

